/*******************************************************************************
 * src/cryptote/cryptote.rc
 *
 * Part of CryptoTE v0.5.999, see http://panthema.net/2007/cryptote
 *******************************************************************************
 * Copyright (C) 2008-2014 Timo Bingmann <tb@panthema.net>
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation; either version 2 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program; if not, write to the Free Software Foundation, Inc., 59 Temple
 * Place, Suite 330, Boston, MA 02111-1307 USA
 ******************************************************************************/

#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1   ICON                    "../art/cryptote.ico"
2   ICON                    "../art/ectfile.ico"
3   ICON                    "../art/pwgen.ico"

1   RT_MANIFEST             "cryptote.xml"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1   VERSIONINFO
    FILEVERSION 0,0,0,0
    PRODUCTVERSION 0,0,0,0
    FILEFLAGSMASK 0x17L
    FILEFLAGS 0x0L
    FILEOS 0x4L
    FILETYPE 0x1L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "ProductName", "CryptoTE"
            VALUE "ProductVersion", "0,0,0,0"
            VALUE "CompanyName", "Timo Bingmann"
            VALUE "FileDescription", "CryptoTE - Text Editor with Integrated Secure Encryption"
            VALUE "FileVersion", "0,0,0,0"
            VALUE "Comments", "http://panthema.net/2009/cryptote/"
            VALUE "LegalCopyright", "Copyright (C) 2009 Timo Bingmann"
            VALUE "OriginalFilename", "cryptote.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252
    END
END

/******************************************************************************/
